<p style="color: green"><%= notice %></p>
<h1>Rooms</h1>
<div id="rooms">
  <% if user_signed_in? %>
    <%= current_user.email %>
  <%end%>
  <% @rooms.each do |room| %>
    <%= link_to room.name.capitalize, room %>
    <br />
  <% end %>
</div>
<%= link_to "New room", new_room_path %>
<br />
<% if user_signed_in? %>
<%= button_to "Log out", destroy_user_session_path %>
<% end %>
